[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prettyconf = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"
zmq = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.8"
